h1{font-size:50px;
    color:rgb(255, 51, 0);
}
h2{font-size:30px;
    color:brown;
}
h3{font-size:22px;
    color:rgb(0, 0, 0);
}
p{color: blueviolet;
font-size:22px;
}
h4{font-size:30px;
    color:brown;
}
h5{font-size:30px;
    color:brown;
}